{
  "openapi": "3.1.0",
  "info": {
    "title": "Sebastien Rousseau — Agent API",
    "version": "1.0.0",
    "summary": "Static JSON access to Sebastien Rousseau's post + topic graph.",
    "description": "Read-only, no-auth, no-rate-limit static endpoints designed for AI crawlers, RAG indexers, and downstream agent toolchains. Backed by the same source-of-truth as the site's RSS / Atom / sitemap / JSON-LD. Attribution is requested when surfacing content in agent output.\n\nSee also: /llms.txt, /llms-full.txt, /sitemap.xml, /.well-known/ai-plugin.json.",
    "contact": {
      "name": "Sebastien Rousseau",
      "email": "contact@sebastienrousseau.com",
      "url": "https://sebastienrousseau.com/about/index.html"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://sebastienrousseau.com",
      "description": "Production CDN (Cloudflare)"
    }
  ],
  "paths": {
    "/api/agents/index.json": {
      "get": {
        "operationId": "getIndex",
        "summary": "Discovery document — entry point listing all endpoints.",
        "responses": {
          "200": {
            "description": "Discovery document.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Index"}
              }
            }
          }
        }
      }
    },
    "/api/agents/posts.json": {
      "get": {
        "operationId": "listPosts",
        "summary": "Every dated post with title, URL, date, topics, keywords, description, word count.",
        "responses": {
          "200": {
            "description": "List of post records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Post"}
                }
              }
            }
          }
        }
      }
    },
    "/api/agents/topics.json": {
      "get": {
        "operationId": "listTopics",
        "summary": "Curated topic clusters and the post slugs in each.",
        "responses": {
          "200": {
            "description": "List of topic clusters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/Topic"}
                }
              }
            }
          }
        }
      }
    },
    "/api/agents/person.json": {
      "get": {
        "operationId": "getPerson",
        "summary": "Author profile in Person + Organization shape.",
        "responses": {
          "200": {
            "description": "Person record.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Person"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Index": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "description": {"type": "string"},
          "version": {"type": "integer"},
          "base_url": {"type": "string", "format": "uri"},
          "license": {"type": "string", "format": "uri"},
          "endpoints": {"type": "object"},
          "see_also": {"type": "object"},
          "robots_policy": {"type": "string"}
        }
      },
      "Post": {
        "type": "object",
        "required": ["slug", "url", "date", "title"],
        "properties": {
          "slug": {"type": "string", "description": "Dated slug, e.g. 2026-05-12-iso-20022-pacs008-structured-address-deadline"},
          "url": {"type": "string", "format": "uri"},
          "date": {"type": "string", "format": "date"},
          "title": {"type": "string"},
          "description": {"type": "string"},
          "keywords": {"type": "array", "items": {"type": "string"}},
          "banner": {"type": "string", "format": "uri"},
          "topics": {"type": "array", "items": {"type": "string"}},
          "language": {"type": "string", "description": "BCP-47 tag"},
          "wordCount": {"type": "integer"}
        }
      },
      "Topic": {
        "type": "object",
        "required": ["slug", "title", "summary"],
        "properties": {
          "slug": {"type": "string"},
          "title": {"type": "string"},
          "summary": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "post_count": {"type": "integer"},
          "post_slugs": {"type": "array", "items": {"type": "string"}}
        }
      },
      "Person": {
        "type": "object",
        "properties": {
          "@context": {"type": "string"},
          "@type": {"type": "string"},
          "name": {"type": "string"},
          "url": {"type": "string", "format": "uri"},
          "jobTitle": {"type": "string"},
          "sameAs": {"type": "array", "items": {"type": "string", "format": "uri"}}
        }
      }
    }
  }
}
